body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input,
button {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
}

input[type="text"],
select,
textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
}

input[type="submit"] {
    border: none;
    background: #4aaaa5;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
}

.delete-btn {
  margin-left: 5px; /* space between the text and the button */
  cursor: pointer;    /* makes it clear it's clickable (changes cursor to a hand) */
  padding: 2px 4px;         
  font-size: 0.9rem;        
  min-width: 0;            
  width: auto;             
  box-sizing: border-box; 
  background: #feff98;
  color: #000000; 
  position: absolute; /* lets us place it inside the li */
  top: 10px;           /* distance from top edge */
  right: 10px;         /* distance from right edge */  
}


.edit-btn {
  margin-left: 5px; 
  cursor: pointer;    
  padding: 2px 4px;
  background: #feff98;
  color: #000000;
  min-width: 0;             /* removes the browser default min width */
  width: auto;              /* lets the width fit text + padding */
  box-sizing: border-box;
  position: absolute;       /* position relative to li */
  bottom: 5px;              /* distance from bottom of li */
  left: 50%;
  transform: translateX(-50%); /* shift to truly center the button */
}

.post {
  position: relative;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background: white;
}

.hidden {
    display: none;
}